<div class="card card-w-title">
    <h1><strong>Aprobadores Por Centro de Costo</strong></h1>
    <!-- Filtros -->
    <p-panel header="Opción de busqueda de Centro de Costo AP" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <form [formGroup]="formularioBusqueda" class="content-item-busqueda">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-2">
                    <label>Nro CC Aprobación: </label>
                    <input type="text" pInputText formControlName="idAprobacion" />
                </div>
                <div class="ui-g-12 ui-md-3">
                    <label>Aprobación: </label>
                    <p-dropdown [options]="rowDatosAprobacion" placeholder="Seleccionar" optionLabel="desAprobacion" formControlName="aprobacion" [filter]="true" (onChange)="cambioEnComboAprobacion($event)"></p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label>Nro Aprobador: </label>
                    <input type="text" pInputText formControlName="nroAprobador" />
                </div>
                <div class="ui-g-12 ui-md-3">
                    <label>Aprobador: </label>
                    <p-dropdown [options]="rowDatosAprobador" optionLabel="usuario" formControlName="aprobador" placeholder="Seleccionar Aprobador" appendTo="body" [filter]="true" (onChange)="cambioEnComboAprobador($event.value)"></p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label>.</label>
                    <button pButton type="button" label="Buscar" [disabled]="formularioBusqueda.invalid" (click)="clickBuscar()"></button>
                </div>
            </div>
        </form>
    </p-panel>
    <p-messages [(value)]="mensajePrimeNgService.msgs"></p-messages>
    <ng-container *ngIf="isDisplayTable">
        <p-panel header="Lista de Centro de Costo AP">
            <app-table-compartido [cabecera]="cabeceraTabla" [datosRecibidos]="rowResultBusqueda" (anular)="anular($event)" (modificar)="modificar($event)" [idEditado]="idEditadoResaltar">
            </app-table-compartido>
        </p-panel>
    </ng-container>
    <p-footer>
        <div class="ui-grid ui-fluid">
            <div class="ui-g-12 ui-md-3">
                <button [disabled]="isActivateButtonNuevo" pButton type="button" label="{{globalConstants.cNuevo}}" icon="{{globalConstants.icoNuevo}}" (click)="clickNuevo()"></button>
            </div>
        </div>
    </p-footer>
</div>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>