<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>

    <!-- Filtros -->
    <p-panel header="Opción de busqueda de {{titulo}}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <form [formGroup]="formularioBusqueda">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-2">
                    <label class="label-custom" for="float-input-nombre">Estación Trabajo: </label>
                    <input id="float-input-nombre" type="text" pInputText placeholder="Estación Trabajo" formControlName="nombre" autocomplete="off">
                </div>
                <div class="ui-g-12 ui-md-6"></div>
                <div class="ui-g-12 ui-md-2">
                    <button pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" class="sba-button btn btn-block" (click)="goListar()"></button>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <button pButton type="button" label="{{globalConstants.cNuevo}}" icon="{{globalConstants.icoNuevo}}" class="sba-button btn btn-block" (click)="goToCreate()"></button>
                </div>
            </div>
        </form>

    </p-panel>

    <!-- Grilla de Datos     -->
    <p-panel #panel header="Lista de {{titulo}}">

        <p-table #table [value]="listModelo" [columns]="columnas" [paginator]="true" [rows]="globalConstants.sizePage" dataKey="id" editMode="row" autoLayout="true" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th colspan="2">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngClass]="col.field === 'seriefactura' || col.field === 'serieboleta'  || col.field === 'serienotacredito'  || col.field === 'serienotadebito'  || col.field === 'serieguia' 
                                                                                    ? 'custom-td-1':null">
                        <span class="p-column-title">{{col.header}}</span>
                        <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                    </td>
                    <td class="custom-td-1">
                        <button pButton type="button" icon="{{globalConstants.icoEditar}}" (click)="goToEditar(rowData.id)"></button>
                    </td>
                    <td class="custom-td-1">
                        <button pButton type="button" icon="{{globalConstants.icoEliminar}}" class="ui-button-danger" (click)="goToRowSelectDelete(rowData)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-footer>
            <div class="ui-grid ui-fluid">
                <div class="ui-g-12 ui-md-2">
                    <button pButton type="button" label="{{globalConstants.cNuevo}}" icon="{{globalConstants.icoNuevo}}" (click)="goToCreate()"></button>
                </div>
            </div>
        </p-footer>
    </p-panel>
</div>

<p-messages [(value)]="mensajePrimeNgService.msgs"></p-messages>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>