<!-- <p-panel *ngIf="ValeSalida" header="Datos Principal" [toggleable]="true" [style]="{'margin-bottom':'20px'}"></p-panel> -->
<p-panel header="Datos Principal" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-2">
            <span><strong>Nro Atencion: </strong></span>{{ item.idAtencionSolicitudTransferencia }}
        </div>
        <div class="ui-g-12 ui-md-3">
            <span><strong>Nro Atencion Estado: </strong></span> {{ itemAtencionSolicitud.desAtencionSolicitudTransferenciaEstado }}
        </div>
        <div class="ui-g-12 ui-md-2">
            <span><strong>Nro Solicitud: </strong></span>{{ itemAtencionSolicitud.idSolicitudTraslado }}
        </div>
        <div class="ui-g-12 ui-md-5">
            <span><strong>Nro Solicitud Estado: </strong></span>{{itemAtencionSolicitud.desSolicitudTrasladoEstado}}
        </div>   
    </div>
    <div class="ui-g ui-fluid">
            
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <span><strong>Socio Negocio: </strong></span> {{itemAtencionSolicitud.codSocioNegocio}} - {{itemAtencionSolicitud.nombreSocioNegocio}}
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <span><strong>Contacto: </strong></span> {{itemAtencionSolicitud.contacto}}
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <span><strong>Destino: </strong></span> {{itemAtencionSolicitud.destino}}
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6">
            <span><strong>Almacen Origen: </strong></span>  {{itemAtencionSolicitud.codAlmacenOrigen}} - {{itemAtencionSolicitud.desAlmacenOrigen}}
        </div>
        <div class="ui-g-12 ui-md-6">
            <span><strong>Almacen Destino: </strong></span> {{itemAtencionSolicitud.codAlmacenDestino}} - {{itemAtencionSolicitud.desAlmacenDestino}}
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <span><strong>Motivo:</strong></span> {{ itemAtencionSolicitud.desAtencionSolicitudTransferenciaTipoMovimiento}}
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <span><strong>Responsable: </strong></span> {{ itemAtencionSolicitud.usuario.nombresApellidos}}
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-3">
            <span><strong>Observación: </strong></span> 
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-8">
            <div style="word-break: break-all;">{{ item.observacion }}</div>
        </div>
    </div>
</p-panel>

<p-panel header="Lista de Articulos" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <p-table [value]="itemAtencionSolicitud.atencionSolicitudTransferenciaItem"  [paginator]="true" [rows]="globalConstants.sizePage" dataKey="idValeSalida" autoLayout="true" [responsive]="true">
        <!-- Header -->
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Id Item</th>
                <th>Cod Articulo</th>
                <th>Des Articulo</th>
                <th>Cantidad</th>
                <th>Cod Unidad Medida</th>
                <th>Des Unidad Medida</th>
            </tr>
        </ng-template>
    <!-- body -->
    <ng-template pTemplate="body" let-modelo let-editing="editing" let-ri="rowIndex">
        <tr>
                <td class="action-td" style="text-align: center">
                    <span class="ui-column-title"></span> {{modelo.idAtencionSolicitudTransferenciaItem}}
                </td>
                <td>
                    <span class="ui-column-title"></span> {{modelo.codArticulo}}
                </td>
                <td>
                    <span class="ui-column-title"></span> {{modelo.desArticulo}}
                </td>
                <td style="text-align: right">
                    <span class="ui-column-title"></span> {{modelo.cantidad}}
                </td>
                <td style="text-align: center">
                    <span class="ui-column-title"></span> {{modelo.codUnidadMedida}}
                </td>
                <td>
                    <span class="ui-column-title"></span> {{modelo.desUnidadMedida}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
