<p-card>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-4">
                    <strong>
                        <p-radioButton name="devolucion" value="Option 1" label="Devolución" inputId="opt1"></p-radioButton>
                    </strong>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <strong>
                        <p-radioButton name="devolucion" value="Option 1" label="Nota Credito" inputId="opt1" (onClick) ="goVisibleNotaCredito()"></p-radioButton>
                    </strong>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-2">
            <button pButton type="button" label="{{globalConstants.cNuevo}}" icon="{{globalConstants.icoNuevo}}" class="btn btn-block"></button>
        </div>
        <div class="ui-g-12 ui-md-2">
            <button pButton type="button" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" (click)="onConfirmGrabar()" class="btn btn-block"></button>
        </div>
        <div class="ui-g-12 ui-md-2">
            <button pButton type="button" label="{{globalConstants.cImprimir}}" icon="{{globalConstants.icoImprimir}}" class="btn btn-block"></button>
        </div>
        <div class="ui-g-12 ui-md-2">
            <button pButton type="button" label="ChecList" icon="{{globalConstants.icoListar}}" class="btn btn-block"></button>
        </div>
    </div>

    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-2">
            <label class="label-custom" for="float-input-tipo-venta">Devolución: </label>
            <input id="float-input-tipo-venta" type="number" pInputText placeholder="Devolución">
        </div>
        <div class="ui-g-12 ui-md-2">
            <label class="label-custom" for="float-input-fecha">Fecha Devolución: </label>
            <p-calendar id="float-input-fecha" placeholder="Seleccionar Fecha" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" showTime="true" hourFormat="24" [showIcon]="true"></p-calendar>
        </div>
        <div class="ui-g-12 ui-md-2">
            <label class="label-custom" for="float-input-tipo-venta">Venta Origen: </label>
            <input id="float-input-tipo-venta" type="number" pInputText placeholder="Venta Origen">
        </div>
        <div class="ui-g-12 ui-md-4">
            <label class="label-custom" for="float-input-almacen">Almacen: </label>
            <app-modal-busqueda-almacen></app-modal-busqueda-almacen>
        </div>
        <div class="ui-g-12 ui-md-2">
            <label class="label-custom" for="float-input-fecha">Fecha Venta: </label>
            <p-calendar id="float-input-fecha" placeholder="Seleccionar Fecha" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" showTime="true" hourFormat="24" [showIcon]="true"></p-calendar>
        </div>
    </div>

    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p-tabView>
                <p-tabPanel header="Datos" leftIcon="pi pi-calendar">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-1">
                            Tipo Cliente :
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <input id="float-input" type="text" size="30" pInputText>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <input id="float-input" type="text" size="30" pInputText>
                        </div>
                    </div>
                    <hr>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-2">
                            <label for="float-input">Atención</label>
                            <app-modal-busqueda-atencion-paciente></app-modal-busqueda-atencion-paciente>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <label for="float-input">Paciente/Cliente</label>
                            <input id="float-input" type="text" size="30" pInputText>

                            <!-- </span> -->
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <label for="float-input">Dirección</label>
                            <input id="float-input" type="text" size="30" pInputText>

                            <!-- </span> -->
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">Cod.Aseguradora</label>
                            <input id="float-input" type="text" size="30" pInputText>

                            <!-- </span> -->
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <label for="float-input">Aseguradora</label>
                            <input id="float-input" type="text" size="30" pInputText>

                            <!-- </span> -->
                        </div>
                        <!-- <div class="ui-g-12 ui-md-2">
                            <label for="float-input">Cliente</label>
                            <app-modal-busqueda-cliente-externo></app-modal-busqueda-cliente-externo>
                        </div> -->
                        <div class="ui-g-12 ui-md-2">
                            <label for="float-input">Cod. Paciente</label>
                            <input id="float-input" type="text" size="30" pInputText>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <label for="float-input">Médico</label>
                            <app-modal-busqueda-medico></app-modal-busqueda-medico>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">Plan</label>
                            <input id="float-input" type="text" size="30" pInputText>

                            <!-- </span> -->
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="float-input">Plan</label>
                            <input id="float-input" type="text" size="30" pInputText>

                            <!-- </span> -->
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">Dscto Plan</label>
                            <input id="float-input" type="text" size="30" pInputText>

                            <!-- </span> -->
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">Coaseguro</label>
                            <input id="float-input" type="text" size="30" pInputText>

                            <!-- </span> -->
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Detalle" leftIcon="pi pi-inbox">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">Cliente</label>
                            <input id="float-input" type="text" size="30" pInputText>

                            <!-- </span> -->
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="float-input">Contratante</label>
                            <input id="float-input" type="text" size="30" pInputText>

                            <!-- </span> -->
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="float-input">Titular</label>
                            <input id="float-input" type="text" size="30" pInputText>

                            <!-- </span> -->
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">Cama</label>
                            <input id="float-input" type="text" size="30" pInputText>

                            <!-- </span> -->
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">Telefono</label>
                            <input id="float-input" type="text" size="30" pInputText>

                            <!-- </span> -->
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="float-input">Póliza</label>
                            <input id="float-input" type="text" size="30" pInputText>

                            <!-- </span> -->
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">Empresa</label>
                            <input id="float-input" type="text" size="30" pInputText>

                            <!-- </span> -->
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="float-input">Empresa</label>
                            <input id="float-input" type="text" size="30" pInputText>

                            <!-- </span> -->
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">Plan</label>
                            <input id="float-input" type="text" size="30" pInputText>

                            <!-- </span> -->
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <!-- <span class="ui-float-label"> -->
                            <label for="float-input">Deducible</label>
                            <input id="float-input" type="text" size="30" pInputText>

                            <!-- </span> -->
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Nota" leftIcon="pi pi-user">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-3">
                            <label for="float-input">Señor(es)</label>
                            <input id="float-input" type="text" size="30" pInputText>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <label for="float-input">Dirección</label>
                            <input id="float-input" type="text" size="30" pInputText>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">R.U.C.</label>
                            <input id="float-input" type="text" size="30" pInputText>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">Fecha</label>
                            <p-calendar id="float-input-fecha" placeholder="Seleccionar Fecha" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" showTime="true" hourFormat="24" [showIcon]="true"></p-calendar>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">Card Code</label>
                            <input id="float-input" type="text" size="30" pInputText style="background-color: rgb(157, 193, 220);" disabled>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">.</label>
                            <button pButton type="button" label="Obtener PDF" icon="{{globalConstants.icoPDF}}" class="btn btn-block"></button>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">.</label>
                            <button pButton type="button" label="Imprimir Nota" icon="{{globalConstants.icoImprimir}}" class="btn btn-block"></button>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">.</label>
                            <button pButton type="button" label="¿Cuál toca?" icon="{{globalConstants.icoListar}}" class="btn btn-block"></button>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">Nota</label>
                            <input id="float-input" type="text" size="30" pInputText style="background-color: rgb(157, 193, 220);" disabled>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">.</label>
                            <input id="float-input" type="text" size="30" pInputText style="background-color: rgb(157, 193, 220);" disabled>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">Comprobante</label>
                            <input id="float-input" type="text" size="30" pInputText disabled>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">% IGV</label>
                            <input id="float-input" type="text" size="30" pInputText disabled>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <label for="float-input">Moneda</label>
                            <input id="float-input" type="text" size="30" pInputText disabled>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="float-input">Tipo Motivo</label>
                            <app-modal-busqueda-tipo-motivo-nota-credito></app-modal-busqueda-tipo-motivo-nota-credito>
                        </div>
                        <div class="ui-g-12 ui-md-5">
                            <label for="float-input">Concepto</label>
                            <input id="float-input" type="text" size="30" pInputText>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-12 ui-md-9">
                <p-panel header="Lista de Productos a devolver" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-2">
                            <button pButton type="button" label="Elegir Venta" icon="{{globalConstants.icoListar}}" (click)="isVisible = true" class="btn btn-block"></button>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <button pButton type="button" label="Elegir Pedido" icon="{{globalConstants.icoListar}}" (click)="goVisiblePedido()" class="btn btn-block"></button>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            Observación :
                        </div>
                        <div class="ui-g-12 ui-md-7">
                            <input id="float-input-producto" type="text" pInputText placeholder="Observación">
                        </div>

                    </div>
                    <footer>
                        <p-table [value]="listModelo" [columns]="columnas" [paginator]="true" [rows]="globalConstants.sizePage" dataKey="idRegistroEquipo" editMode="row" autoLayout="true" [responsive]="true">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th colspan="1">Acciones</th>
                                    <th *ngFor="let col of columns">
                                        {{col.header}}
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr>
                                    <td class="custom-td-ico">
                                        <button pButton icon="{{globalConstants.icoEliminar}}" class="ui-button-danger"></button>
                                    </td>
                                    <td *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <span class="p-column-title">{{col.header}}</span>

                                        <!-- <span *ngSwitchCase="'codProd'"><app-modal-consulta-producto [isCodProducto] ="rowData[col.field]"></app-modal-consulta-producto>{{ rowData[col.field] }}</span> -->
                                        <!-- <span *ngSwitchCase="'lote'"><app-modal-consulta-lote [isCodVenta] ="" [isCodDetalleVenta] ="rowData['coddetalle']" [isCodProducto] ="rowData['codProd']"></app-modal-consulta-lote></span> -->
                                        <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </footer>
                </p-panel>
            </div>
            <div class="ui-g-12 ui-md-3">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-6">
                            <label class="label-custom" for="float-input-dscto-plan">M. Dscto Plan: </label>
                            <input id="float-input-dscto-plan" type="number" pInputText placeholder="Dscto. Plan">
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-3">
                            <label class="label-custom" for="float-input-sub-total">Sub Total: </label>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <input id="float-input-sub-total" type="number" pInputText placeholder="Sub Total">
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <input id="float-input-sub-total" type="number" pInputText placeholder="Sub Total">
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <input id="float-input-sub-total" type="number" pInputText placeholder="Sub Total">
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-3">
                            <label class="label-custom" for="float-input-sub-total">IGV: </label>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <input id="float-input-sub-total" type="number" pInputText placeholder="IGV">
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-3">
                            <label class="label-custom" for="float-input-sub-total">Total: </label>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <input id="float-input-sub-total" type="number" pInputText placeholder="Total">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-card>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>

<p-dialog header="Ventas por Atención" [(visible)]="isVisible" [modal]="true">
    <app-modal-busqueda-venta-por-atencion></app-modal-busqueda-venta-por-atencion>
</p-dialog>

<p-dialog header="Ingresar Pedido" [(visible)]="isVisiblePedido" [modal]="true" [baseZIndex]="10000">
    <app-modal-busqueda-pedido-devolucion></app-modal-busqueda-pedido-devolucion>
</p-dialog>

<p-dialog header="Ingresar Nota de Crédito" [(visible)]="isVisibleNotaCredito" [modal]="true" [baseZIndex]="10000">
    <app-modal-busqueda-nota-credito-devolucion></app-modal-busqueda-nota-credito-devolucion>
</p-dialog>