   <!-- Filtros -->
   <p-panel >
    <form [formGroup]="formularioSuperior">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-1">
                <label class="label-custom" for="numsolicitu">Solicitud: </label>
                <input type="text" formControlName="numsolicitud" pInputText disabled/>
            </div>
            <div class="ui-g-12 ui-md-2">
                <label class="label-custom" for="float-input-fecha-ini">Fecha Registro: </label>
                <p-calendar id="float-input-fecha-ini" formControlName="fechaRegistro" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" [showIcon]="true" disabled="true" ></p-calendar>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label class="label-custom" for="float-input-socio">Socio de Negocio:</label>
                <div class="ui-inputgroup">
                    <input type="text" id="float-input-socio" formControlName="desSocioNegocio" placeholder="Socio Negocio" pInputText disabled  />
                </div>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label class="label-custom" for="float-input-cbpersonal">Personal Contacto1:</label>
                <div class="ui-inputgroup">
                    <p-dropdown placeholder="Seleccionar"  formControlName="cbpersonal"  [(ngModel)]="selectSocioNegocioContacto" [options]="rowSocioNegocioContacto" filter="true" optionLabel="label"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label class="label-custom" for="float-input-destino">Destino:</label>
                <div class="ui-inputgroup">
                    <p-dropdown placeholder="Seleccionar"  formControlName="cbdestino" [(ngModel)]="selectSocioNegocioDireccion" [options]="rowSocioNegocioDireccion" filter="true" optionLabel="label"></p-dropdown>
                </div>
            </div>
            
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-3">
                <label class="label-custom" for="float-input-socio">Tipo Movimiento:</label>
                <div class="ui-inputgroup">
                    <p-dropdown placeholder="Seleccionar" [(ngModel)]="tipoMovimientoSelect" formControlName="cbtipomoviento" [options]="rowTipoMovimiento" filter="true" optionLabel="label"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label class="label-custom" for="float-input-socio">Almacen Origen:</label>
                <div class="ui-inputgroup">
                    <input type="text" id="float-input-socio" formControlName="almacenOrigen" placeholder="Almacen origen" pInputText disabled  />
                    <!-- <button pButton type="button" icon="{{globalConstants.icoBuscar}}" class="ui-button-success"></button> -->
                </div>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label class="label-custom" for="float-input-socio">Almacen Destino:</label>
                <div class="ui-inputgroup">
                    <input type="text" id="float-input-socio" formControlName="almacenDestino" placeholder="Almacen destino" pInputText disabled  />
                    <!-- <button pButton type="button" icon="{{globalConstants.icoBuscar}}" class="ui-button-success"></button> -->
                </div>
            </div>
            
            <div class="ui-g-12 ui-md-2">
                <label>Estado: </label>
                <input type="text" formControlName="estado" pInputText disabled />
            </div>
        </div>
        <HR>
        <p-messages [(value)]="mensajePrimeNgService.msgs"></p-messages>
                 <!-- Grilla de Datos     -->
       <p-panel header="Lista de Articulos">
        <p-table [value]="listArticulosItem" [columns]="columnas" [paginator]="true" [rows]="globalConstants.sizePage" dataKey="idValeSalida" autoLayout="true" [loading]="loading" [responsive]="true">
            <!-- Header -->
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
        <!-- body -->
        <ng-template pTemplate="body" let-modelo let-editing="editing" let-ri="rowIndex">
            <tr #opt class="row-hover" [ngClass]="modelo.idSolicitudTraslado === idResaltar? 'resaltarFila': null">
                    <td class="action-td">
                        <p-splitButton icon="pi pi-cog" [model]="opciones" (onDropdownClick)="itemElegido(modelo)" appendTo="body">
                        </p-splitButton>
                    </td>
                    <td style="text-align: center" class="action-td">
                        <span class="ui-column-title"></span> {{modelo.codArticulo}}
                    </td>
                    <td>
                        <span class="ui-column-title"></span> {{modelo.desArticulo}}
                    </td>
                    <td>
                        <span class="ui-column-title"></span>{{itemSelect.almacenOrigen.warehouseName}}
                    </td>
                    <td>
                        <span class="ui-column-title"></span>{{itemSelect.almacenDestino.warehouseName}}
                    </td>
                    <td style="text-align: right">
                        <span class="ui-column-title"></span> {{modelo.cantidad}}
                    </td>
                    <td style="text-align: center">
                        <span class="ui-column-title"></span> {{modelo.codUnidadMedida}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-3">
                <label>Responsable: </label>
                <input type="text" formControlName="responsable" pInputText disabled />
            </div> 
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-8">
                <span class="ui-column-title">Descripción</span>
                <textarea pInputTextarea autoResize="autoResize" formControlName="observacion"></textarea>
            </div>
        </div>
    </form>
    <p-footer>
        <div class="ui-grid ui-fluid">
            <div class="ui-g-12 ui-md-6">
                <button pButton type="button" id="save" label="{{globalConstants.cAceptar}}" icon="{{globalConstants.icoAceptar}}" (click)="clickGuardar()"></button>
            </div>
            <div class="ui-g-12 ui-md-6">
                <button pButton type="button" label="{{globalConstants.cCancelar}}" icon="{{globalConstants.icoCancelar}}" (click)="clickCancelar()"></button>
            </div>
        </div>
    </p-footer>
    </p-panel>
      



