
<p-dialog header="Buscar Socio de Negocio" [(visible)]="isDisplayBusqueda" [modal]="true" [transitionOptions]="timeAnimationModal">
    <!-- Filtros -->
    <p-panel>
       <form [formGroup]="formularioBusquedaSocio">
           <div class="ui-g ui-fluid">
               <div class="ui-g-12 ui-md-4">
                   <label class="label-custom" for="nomarticulo">Socio Negocio</label>
                   <input type="text" formControlName="nombre" pInputText />
               </div>
               <div class="ui-g-12 ui-md-4">
                   <button style="top: 1.2em;" pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" (click)="onToBuscar()" class="btn btn-block"></button>
               </div>
           </div>
           
       </form>
   </p-panel>
   <br>
   <p-panel header="Listado de Socios de Negocio">
    <!-- <p-dialog header="Buscar Socio de Negocio" [(visible)]="isDisplayBusqueda" [modal]="true" [transitionOptions]="timeAnimationModal"> -->
        <div class="content-formulario">
            <p-table [value]="registros" [columns]="cols" [paginator]="true" [rows]="10" [autoLayout]="true" #tableBusqueda [(selection)]="registroSeleccionado" selectionMode="single" [loading]="loading" [responsive]="true" [resizableColumns]="true" styleClass="p-datatable-responsive-demo">
                <!-- <ng-template pTemplate="caption">
                    <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
                    <input type="text" pInputText size="50" placeholder="Filtro global" (input)="tableBusqueda.filterGlobal($event.target.value, 'contains')" style="width: auto;" />
                    </ng-template> -->
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{ col.header }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns">
                            <span class="p-column-title">{{col.header}}</span> {{ rowData[col.field] }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-footer>
            <button pButton type="button" label="Aceptar" [disabled]="!registroSeleccionado" (click)="clickAceptar()"></button>
            <button pButton type="button" label="Cancelar" (click)="clickCancelar()"></button>
        </p-footer>
    </p-panel>

</p-dialog>
