<button *ngIf="!isLayoutIcono" pButton type="button" label="{{globalConstants.cHojaDatos}}" icon="{{globalConstants.icoGenerico}}" class="sba-button btn btn-block ui-button-warning" (click)="goGenerarHojaDatos()"></button>

<button *ngIf="isLayoutIcono" pButton type="button" icon="{{globalConstants.icoSalir}}" class="sba-button btn btn-block ui-button-warning" (click)="goGenerarHojaDatos()"></button>

<p-dialog *ngIf="isDisplayVisualizar" header="Visualizar" [(visible)]="isDisplayVisualizar" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [autoZIndex] [draggable]="false" [resizable]="false">

    Generando visor del registro seleccionado...!!!
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        </div>
    </div>

</p-dialog>

<p-dialog *ngIf="isDisplayVisualizarDocumento" [header]="isCodAtencion" [(visible)]="isDisplayVisualizarDocumento" [modal]="true" [style]="{width: '80vw'}" [autoZIndex] [maximizable]="true">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <app-modal-visor-pdf [isFile]="isDataBlob"></app-modal-visor-pdf>
        </div>
    </div>
</p-dialog>