<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-6">
        <label class="label-custom" for="float-input-almacen">Usuario: </label>
        <input id="float-input-tipo-venta" type="text" pInputText placeholder="Usuario">
    </div>
    <div class="ui-g-12 ui-md-6">
        <label class="label-custom" for="float-input-almacen">Clave: </label>
        <input id="float-input-tipo-venta" type="text" pInputText placeholder="Clave">
    </div>
    <div *ngIf="isAnular" class="ui-g-12 ui-md-12">
        <label class="label-custom" for="float-input-almacen">Motivo de Anulación: </label>
        <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize"></textarea>
    </div>
    <div class="ui-g-12 ui-md-6">
        <button pButton type="button" label="Aceptar" class="ui-button-success"></button>
    </div>
    <div class="ui-g-12 ui-md-6">
        <button pButton type="button" label="Cancelar" class="ui-button-secondary"></button>
    </div>
</div>