<div class="card card-w-title">
    <div class="ui-grid ui-fluid">
        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <p-panel>
                <p-header>
                    <button pButton type="button" label="GENERAR BORRADOR" disabled></button>
                </p-header>
                <h1>ID Operación: XXXXXXX</h1>
                N° Atención: XXXXXXX
                <p-footer>
                    <button pButton type="button" label="Generar Borrador" (click)="getVerDetalle()" class="ui-button-rounded ui-button-secondary"></button>
                </p-footer>
            </p-panel>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <p-panel>
                <p-header>
                    <button pButton type="button" label="EN PROCESO" class="ui-button-rounded ui-button-danger" disabled></button>
                </p-header>
                <h1>ID Operación: 9203291</h1>
                N° Atención: H293829
                <p-footer>
                    <button pButton type="button" label="Ver Detalle" (click)="getVerDetalle()" class="ui-button-rounded ui-button-secondary"></button>
                </p-footer>
            </p-panel>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <p-panel>
                <p-header>
                    <button pButton type="button" label="EN PROCESO" class="ui-button-rounded ui-button-danger" disabled></button>
                </p-header>
                <h1>ID Operación: 9203292</h1>
                N° Atención: H293824
                <p-footer>
                    <button pButton type="button" label="Ver Detalle" (click)="getVerDetalle()" class="ui-button-rounded ui-button-secondary"></button>
                </p-footer>
            </p-panel>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <p-panel>
                <p-header>
                    <button pButton type="button" label="EN PROCESO" class="ui-button-rounded ui-button-danger" disabled></button>
                </p-header>
                <h1>ID Operación: 9203293</h1>
                N° Atención: H293822
                <p-footer>
                    <button pButton type="button" label="Ver Detalle" (click)="getVerDetalle()" class="ui-button-rounded ui-button-secondary"></button>
                </p-footer>
            </p-panel>
        </div>
    </div>
</div>