<div class="ui-fluid">
    <form [formGroup]="formularioVale">
        <div class="ui-g-12 ui-md-2">
            <label class="label-custom">Cod. Atención: </label>
            <input type="text" formControlName="codatencion" pInputText>
        </div>
        <div class="ui-g-12 ui-md-2">
            <label class="label-custom">Cod. Venta: </label>
            <input type="text" formControlName="codventa" pInputText>
        </div>
        <div class="ui-g-12 ui-md-2">
            <label class="label-custom">Receta: </label>
            <input type="number" formControlName="idereceta" pInputText>
        </div>
        <div class="ui-g-12 ui-md-6">
            <label class="label-custom">Nombre Paciente: </label>
            <input type="text" formControlName="nombrepaciente" pInputText>
        </div>
        <div class="ui-g-12 ui-md-2">
            <label class="label-custom">Telefono: </label>
            <input type="text" formControlName="telefono" pInputText>
        </div>
        <div class="ui-g-12 ui-md-2">
            <label class="label-custom">Celular: </label>
            <input type="text" formControlName="celular" pInputText>
        </div>
        <div class="ui-g-12 ui-md-10">
            <label class="label-custom">Dirección: </label>
            <input type="text" formControlName="direccion" pInputText>
        </div>
        <div class="ui-g-12 ui-md-2">
            <label class="label-custom">Distrito: </label>
            <input type="text" formControlName="distrito" pInputText>
        </div>
        <div class="ui-g-12 ui-md-12">
            <label class="label-custom">Referencia: </label>
            <input type="text" formControlName="referencia" pInputText>
        </div>
        <div class="ui-g-12 ui-md-2">
            <label class="label-custom">Fecha Entrega: </label>
            <p-calendar formControlName="fechaentrega" placeholder="Seleccionar Fecha" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" [showIcon]="true" [appendTo]="isAppendVale"></p-calendar>
        </div>
        <div class="ui-g-12 ui-md-10">
            <label class="label-custom">Lugar Entrega: </label>
            <input type="text" formControlName="lugarentrega" pInputText>
        </div>
    </form>

    <footer>
        <div class="ui-g-12 ui-md-4">
            <button pButton type="button" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" (click)="goAceptar()"></button>
        </div>

        <div class="ui-g-12 ui-md-4">
            <button pButton type="button" label="{{globalConstants.cImprimir}}" icon="{{globalConstants.icoImprimir}}" class="ui-button-info" (click)="onImprimirValeDelivery()"></button>
        </div>

        <div class="ui-g-12 ui-md-4">
            <button pButton type="button" label="{{globalConstants.cSalir}}" icon="{{globalConstants.icoSalir}}" (click)="goCancelar()"></button>
        </div>
    </footer>
</div>

<p-dialog *ngIf="isDisplayVisualizar" header="Visualizar" [(visible)]="isDisplayVisualizar" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [autoZIndex] [draggable]="false" [resizable]="false">

    Generando visor del registro seleccionado...!!!
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        </div>
    </div>

</p-dialog>

<p-dialog *ngIf="isDisplayVisualizarDocumento" [header]="'Vale Delivery'" [(visible)]="isDisplayVisualizarDocumento" [modal]="true" [style]="{width: '80vw'}" [autoZIndex] [maximizable]="true">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <app-modal-visor-pdf [isFile]="isDataBlob"></app-modal-visor-pdf>
        </div>
    </div>
</p-dialog>