<div class="card card-w-title">
    <h1><strong>Aprobador Principal</strong></h1>
    <p-panel header="Lista de Aprobadores Principales">
        <app-table-compartido [cabecera]="cabeceraTabla" [datosRecibidos]="rowResultAprobador" (anular)="anular($event)" (modificar)="modificar($event)" [loading]="loading" [idEditado]="idEditadoResaltar">
        </app-table-compartido>
        <p-footer>
            <div class="ui-grid ui-fluid">
                <div class="ui-g-12 ui-md-3">
                    <button pButton type="button" label="{{globalConstants.cNuevo}}" icon="{{globalConstants.icoNuevo}}" routerLink="/main/modulo-ad/registrar-aprobador"></button>
                </div>
            </div>
        </p-footer>
    </p-panel>
</div>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>