<i class="fa fa-list" aria-hidden="true" (click)="isVisualizar = true"></i>

<p-dialog header="Lote por Producto" [(visible)]="isVisualizar" [modal]="true" [style]="{width: '30vw'}">

    <div class="ui-g-12 ui-md-3">
        <label class="label-custom">Código: </label>
        <input type="text" pInputText placeholder="Código">
    </div>
    <div class="ui-g-12 ui-md-9">
        <label class="label-custom">Descripción: </label>
        <input type="text" pInputText placeholder="Descripción">
    </div>
    <div class="ui-g-12">
        <p-table [value]="listModelo" [loading]="loading" [columns]="columnas" [paginator]="true" [rows]="globalConstants.sizePageModal" dataKey="codigo" selectionMode="single" autoLayout="true" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                        <span class="p-column-title">{{col.header}}</span> {{ rowData[col.field] }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <footer>
        <div class="ui-g-12 ui-md-6">
            <button pButton type="button" label="{{globalConstants.cAceptar}}" icon="{{globalConstants.icoAceptar}}" (click)="isVisualizar = false"></button>
        </div>

        <div class="ui-g-12 ui-md-6">
            <button pButton type="button" label="{{globalConstants.cCancelar}}" icon="{{globalConstants.icoCancelar}}" (click)="isVisualizar = false"></button>
        </div>
    </footer>
</p-dialog>