.content-solicitud-vale {
  display: grid;
  row-gap: 20px;
  width: 95vw;
  justify-content: center;
  margin: 0px 20px 20px 20px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);

  .titulo-page {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .formulario-busqueda {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 20px;

    border: 1px solid #eeeeee;
    padding: 20px;
    margin: 0px 20px 20px 20px;
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.082);
    @media screen and (min-width: 600px) {
      grid-template-columns: repeat(auto-fit, 500px);
      padding-left: 20px;
    }
    .left,
    .right {
      display: grid;
      row-gap: 15px;
      justify-content: center;
      .item-formulario {
        display: grid;
        align-items: center;
        gap: 20px;
      }
    }
    .left {
      .item-formulario {
        // grid-template-columns: minmax(max-content, 80px) repeat(auto-fit, 170px);
        grid-template-columns: 1fr;
        @media screen and (min-width: 600px) {
          grid-template-columns: minmax(max-content, 80px) repeat(
              3,
              max-content
            );
        }
      }
    }
    .right {
      .item-formulario {
        grid-template-columns: 1fr;
        @media screen and (min-width: 600px) {
          grid-template-columns: minmax(max-content, 100px) repeat(
              3,
              max-content
            );
        }
      }
    }
  }
  .botones {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 20px;
    // justify-content: end;
  }
}

.formulario-modal {
  .item-formulario {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    margin: 0 auto;
    align-items: center;
    label,
    input,
    button {
      margin: 0 10px;
    }
  }
}
.archivos-disponibles {
  margin-top: 10px;
}
.lista-anexo {
  display: grid;
  gap: 5px;

  li {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 20px 49px;
    padding: 8px 10px;
    &:nth-child(even) {
      background-color: rgba(lightblue, 0.3);
    }
    .quitar {
      background: red;
      max-width: 32px;
      padding: 3px 12px;
      color: white;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
.estado {
  position: absolute;
  right: 100px;
  top: 40px;
  display: block;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 5px 12px;
  border-radius: 8px;
}

.aprobado {
  background: green;
}
.anulado {
  background: red;
}
.desaprobado {
  color: black;
  background: rgb(206, 206, 206);
}
.pendiente {
  color: black;
  background-color: #fdf73a;
}
.procesadoSap {
  // color: black;
  background-color: #ef862a;
}
