/* You can add global styles to this file, and also import other style files */

.content {
    margin: 0px 20px 20px 20px;
}

.box {
    background: #ffffff;
    padding: 16px;
    margin-bottom: 10px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    margin: auto auto 10px;
    overflow: hidden;
    position: relative;
    justify-content: center;
    .titulo-general {
        // background-color: red;
        .fondo-img {
            width: 100%;
            height: 100px;
            // overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 150px;
            }
        }
        @media (max-width: 800px) {
            .fondo-img {
                width: 100%;
                height: 120px;
                top: 0;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 150%;
                    height: 150px;
                }
            }
        }
        h1 {
            width: 100%;
            max-width: 1200px;
            color: rgb(255, 252, 252);
            font-size: 50px;
            margin: -75px auto 0 auto;
            position: relative;
            z-index: 99;
            margin-bottom: 20px;
            @media (max-width: 800px) {
                width: 100%;
                max-width: 1200px;
                color: white;
                font-size: 25px;
                margin: -120px auto 0 auto;
                position: relative;
                z-index: 99;
                margin-bottom: 20px;
            }
        }
    }
}

.content-busqueda {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.3);
    @media (min-width: 576px) {
        grid-template-columns: 9fr max-content;
    }
    // justify-items: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    position: relative;
    padding: 10px 10px 30px 10px;
    margin-bottom: 20px;
    .content-item-busqueda {
        display: grid;
        // grid-template-columns: repeat(auto-fit, 200px);
        grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
        justify-content: center;
        //justify-items: center;
        align-items: flex-end;
        @media (max-width: 768px) {
            justify-content: space-evenly;
        }
        .item-busqueda {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            @media (min-width: 576px) {
                width: 50%;
            }
            // margin: 10px;
            margin-top: 15px;
            >* {
                margin: 0 10px;
            }
            .ui-fieldset-content {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                >* {
                    margin: 0 10px 0 0;
                }
            }
            @media (min-width: 364px) {
                grid-template-columns: max-content 1fr;
            }
            column-gap: 20px;
            align-items: center;
        }
    }
    .btn {
        margin-top: 15px;
    }
}

.btn-action {
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
    gap: 20px;
    margin-top: 20px;
}


/* Estilos para el item del estado*/

@mixin label-estado {
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 10px;
}

table {
    .anulado,
    .anulado-activo,
    .inactivo {
        @include label-estado();
    }
    .anulado {
        background: red;
    }
    .inactivo {
        color: black;
        background: rgb(206, 206, 206);
    }
    .anulado-activo {
        background: #6ebc3b;
    }
    .activoCC {
        @include label-estado();
        background: #6ebc3b;
    }
    .label {
        @include label-estado();
    }
    //anulado
    //desaprobado
    //aprobado
    //pendiente
    .aprobado {
        background: green;
    }
    .desaprobado {
        color: black;
        background: rgb(206, 206, 206);
    }
    .pendiente {
        color: black;
        background-color: #fdf73a;
    }
    .listoAprobar {
        color: black;
        background-color: #fdcf3ab8;
    }
    .procesadoSap {
        // color: black;
        background-color: #ef862a;
    }
    .listoRevision {
        // color: black;
        background-color: #40dae2;
    }
    // ::ng-deep {
    // }
}

.ui-table .ui-table-tbody tr.resaltarFila {
    background-color: rgba(#ffc107, 0.2) !important;
}

.titulo {
    // display: grid;
    // justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    h1 {
        margin: 0;
    }
}

.formulario {
    display: grid;
    gap: 20px;
    width: 100%;
    max-width: max-content;
    margin: 0 auto;
    padding: 10px 0;
    .various-item-formulario1 {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        gap: 10px;
        @media (min-width: 768px) {
            grid-template-columns: minmax(100px, 120px) minmax(100px, 240px) minmax(100px, 100px);
            // grid-template-columns: repeat(auto-fill, minmax(min-content, 200px));
        }
    }
    .various-item-formulario {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        gap: 20px;
        @media (min-width: 768px) {
            // grid-template-columns: minmax(100px, 120px) minmax(100px, 200px) minmax(
            //     100px,
            //     200px
            //   );
            grid-template-columns: repeat(auto-fill, minmax(min-content, 200px));
        }
    }
    .various-item-formulario-4 {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        gap: 10px;
        @media (min-width: 768px) {
            grid-template-columns: minmax(100px, 120px) minmax(50px, 50px) minmax(100px, 160px) minmax(100px, 100px)
        }
    }
    .item-formulario {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 10px;
        @media (min-width: 768px) {
            grid-template-columns: minmax(120px, 120px) minmax(min-content, 220px);
            // grid-template-columns: minmax(min-content, 120px) minmax(
            // grid-template-columns: minmax(min-content, 120px) minmax(
            //     min-content,
            //     300px
            //   ) minmax(min-content, 300px);
        }
    }
}

.content-botones {
    margin-top: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: max-content max-content;
    justify-content: space-around;
    // grid-auto-flow: column;
    // justify-content: space-around;
}

.row-hover {
    &:hover {
        background: #0071ea17 !important;
        // color: #ffffff !important;
    }
}

.labelEstado_solicitud {
    @include label-estado();
}

.labelEstado_solicitud__pendiente {
    background-color: yellow;
    color: black;
}

.labelEstado_solicitud__enProceso {
    background-color: yellow;
    color: black;
}

.labelEstado_solicitud__aprobado {
    background-color: green;
}

.labelEstado_solicitud__desaprobado {
    background-color: grey;
    color: white;
}

.labelEstado_solicitud__porRecoger {
    background-color: green;
}

.labelEstado_solicitud__entregaParcial {
    background-color: orange;
}

.labelEstado_solicitud__entregaTotal {
    background-color: orange;
}

.labelEstado_solicitud__anulado {
    background-color: red;
}

.p-column-title {
    display: none;
}

@media screen and (max-width: 650px) {
    .p-column-title {
        padding: .4rem;
        min-width: 30%;
        display: inline-block;
        margin: -.4rem 1rem -.4rem -.4rem;
        font-weight: bold;
    }
    .p-datatable-tbody>tr {
        border-bottom: 1px solid var(--layer-2);
        >td {
            text-align: left;
            display: block;
            border: 0 none !important;
            width: 100% !important;
            float: left;
            clear: left;
            border: 0 none;
            .p-progressbar {
                margin-top: .5rem;
            }
        }
    }
}

.custom-td-checkbox {
    text-align: center;
    width: 2em;
}

.custom-td-1 {
    text-align: center;
    width: 4em;
}

.custom-td-2 {
    text-align: center;
    width: 8em;
}

.custom-td-producto {
    text-align: left;
    width: 8em;
}

.custom-td-descripcion {
    text-align: left;
    width: 20em;
}

.custom-td-lote {
    text-align: center;
    width: 2em;
}

.custom-td-ico {
    text-align: center;
    width: 2em;
}

.custom-td-number-1 {
    text-align: right;
    width: 8em;
}

.custom-td-splitButton {
    text-align: center;
    width: 10em;
}

.custom-td-fecha {
    text-align: center;
    width: 10em;
}

.estado_venta_cancelado {
    @include label-estado();
    background: blue;
}

.estado_venta_generado {
    @include label-estado();
    background: rgb(110, 188, 59);
}

.estado_venta_anulado {
    @include label-estado();
    background: red;
}

.sba-button {
    .ui-splitbutton {
        margin-top: 1.2em !important;
    }
    margin-top: 1.2em !important;
}

.sba-checked {
    top: 2em !important;
}

// .ui-inputtext {
//     text-transform: uppercase !important;
// }
.ui-table .ui-table-tbody tr.resaltarFilaLote {
    background-color: rgb(255 235 59 / 15%) !important;
}