<div class="card card-w-title">
    <div class="box">
        <div class="titulo">
            <h1>Centro de Costo | Nuevo</h1>
        </div>
    </div>
    <p-panel>
        <div class="ui-grid ui-fluid">
            <div class="ui-g-12">
                <form [formGroup]="formularioRegistroCC">
                    <div class="p-grid form-group">
                        <div class="ui-g-12">
                            <label>Nro CC Aprobador: </label>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <input formControlName="idAprobacionCC" type="text" pInputText />
                        </div>
                        <div class="ui-g-12">
                            <label>Nro Aprobador: </label>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <input formControlName="idAprobador" type="text" pInputText />
                        </div>
                        <div class="ui-g-12">
                            <label>Aprobador: </label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input formControlName="aprobador" type="text" pInputText />
                        </div>
                        <div class="ui-g-12">
                            <label>Centro de Costo: </label>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <input formControlName="codCentroCosto" type="text" pInputText />
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <input formControlName="desCentroCosto" type="text" pInputText />
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <button pButton type="button" icon="pi pi-search" (click)="activarModalCentroCosto()"></button>
                        </div>
                        <div class="ui-g-12">
                            <label>Tipo documento: </label>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <p-dropdown [options]="rowTipoDocumento" placeholder="Seleccione un tipo" formControlName="tipoDocumento" optionLabel="desAprobacionDocumento" [showClear]="true"></p-dropdown>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <p-footer>
            <p-messages [(value)]="mensajePrimeNgService.msgs"></p-messages>
            <div class="ui-grid ui-fluid">
                <div class="ui-g-12 ui-md-6">
                    <button pButton type="submit" [disabled]="this.formularioRegistroCC.invalid" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" (click)="clickGuardar()"></button>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <button pButton type="button" label="{{globalConstants.cRegresar}}" icon="{{globalConstants.icoRegresar}}" class="{{globalConstants.cStyleButtonSecundario}}" (click)="onClickRegresar()"></button>
                </div>
            </div>
        </p-footer>
    </p-panel>
</div>
<app-modal-busqueda-centro-costo [isDisplayBusquedaCentroCosto]="isActivateBusquedaCentroCosto" (CentroCostoSeleccionado)="centroCostoSeleccionado($event)" (cancel)="activarModalCentroCosto()">
</app-modal-busqueda-centro-costo>