<div class="card card-w-title">
    <p-panel header="Borrador N° X" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <form [formGroup]="formularioCabecera">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-2">
                    <label>Rol de Operación</label>
                    <input formControlName="codrolsala" type="number" pInputText placeholder="Id Operación">
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label class="label-custom">Fecha: </label>
                    <p-calendar formControlName="fecha" placeholder="Seleccionar Fecha" [showButtonBar]="true" [locale]="lenguageService.es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label class="label-custom" for="float-input-nro">Almacén: </label>
                    <app-modal-busqueda-almacen (eventoResgistroSeleccionado)="goAlmacenSeleccionado($event)" [isVenta]="true" [isWarehouseCode]="isWarehouseCode" ([isHabilitarInput])="false" [isHabilitarButton]="true"></app-modal-busqueda-almacen>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="float-input">Atención</label>
                    <app-modal-busqueda-atencion-paciente [isHabilitaControl]="false" [(isCodAtencion)]="isCodAtencion" (eventoResgistroSeleccionado)="goAtencionSeleccionado($event)"></app-modal-busqueda-atencion-paciente>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <label>Nombre</label>
                    <input formControlName="nombre" type="text" pInputText placeholder="Nombre">
                </div>
            </div>
        </form>
    </p-panel>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <app-modal-busqueda-producto [isCodAlmacen]="isWarehouseCode" (eventoAceptar)="goProductoSeleccionado($event)"></app-modal-busqueda-producto>
        </div>
        <div class="ui-g-12">
            <p-panel header="Lista de Articulos">

                <p-table [columns]="columnas" [value]="listModelo" dataKey="codproducto" [responsive]="true" [paginator]="true" [rows]="globalConstants.sizePage" autoLayout="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                            </th>
                            <th colspan="3">Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                        <tr>
                            <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngClass]="col.field === 'codproducto' ? 'custom-td-producto' : 
                                                                                                col.field === 'lote' ? 'custom-td-lote' : 
                                                                                                col.field === 'nombreproducto' ? null : 'custom-td-number-1'">
                                <span class="p-column-title">{{col.header}}</span>
                                <span *ngSwitchCase="'codproducto'"><i class="fa fa-arrow-right" (click)="goChangeVisibleProducto(rowData)"></i>{{ rowData[col.field] }}</span>
                                <span *ngSwitchCase="'lote'"><i *ngIf="rowData.manbtchnum || rowData.binactivat" class="fa fa-list" (click)="goChangeVisibleLote(rowData, index)"></i></span>
                                <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                            </td>
                            <td class="custom-td-1">
                                <button pButton icon="{{globalConstants.icoPlus}}" [disabled]="rowData.flgbtchnum" (click)="goAdicionarCantidadProducto(rowData, index)"></button>
                            </td>
                            <td class="custom-td-1">
                                <button pButton icon="{{globalConstants.icoMinus}}" class="ui-button-rounded ui-button-danger" [disabled]="rowData.flgbtchnum" (click)="goQuitarCantidadProducto(rowData, index)"></button>
                            </td>
                            <td class="custom-td-1">
                                <button pButton icon="{{globalConstants.icoEliminar}}" class="ui-button-rounded ui-button-danger" (click)="goQuitarProducto(index)"></button>
                            </td>
                        </tr>

                    </ng-template>
                </p-table>
            </p-panel>
        </div>
        <div class="ui-g-12 ui-md-6">
            <button pButton type="button" label="Grabar Proceso Preparado" icon="{{globalConstants.icoGrabar}}" (click)="onGrabar()"></button>
        </div>
        <div class="ui-g-12 ui-md-6">
            <button pButton type="button" label="{{globalConstants.cRegresar}}" icon="{{globalConstants.icoRegresar}}" (click)="goRegresar()"></button>
        </div>
    </div>
</div>

<p-dialog *ngIf="isVisualizarProducto" header="{{isSeleccionItemProducto.codproducto}} - {{isSeleccionItemProducto.nombreproducto}}" [(visible)]="isVisualizarProducto" [modal]="true">
    <app-modal-consulta-producto [isCodigoProducto]="isSeleccionItemProducto.codproducto" [isVisualizarProducto]="isVisualizarProducto" (eventoSalir)="goSalirProducto()"></app-modal-consulta-producto>
</p-dialog>

<p-dialog *ngIf="isVisualizarLote" header="{{isSeleccionItemLote.codproducto}} - {{isSeleccionItemLote.nombreproducto}}" [(visible)]="isVisualizarLote" [modal]="true">
    <app-modal-consulta-lote [isActivoVenta]="true" [isActivoDevolucion]="false" [isActivoVerVenta]="false" [isActivoProducto]="false" [isCodProducto]="isSeleccionItemLote.codproducto" [isCodAlmacen]="isWarehouseCode" [IsActivaUbicacion]="isSeleccionItemLote.binactivat"
        [isCantidadInput]="isSeleccionItemLote.cantidad" [IsActivaLote]="isSeleccionItemLote.manbtchnum" (eventoAceptar)="goAceptarLote($event)" (eventoSalir)="goSalirLote()" [isListLoteVta]="isSeleccionItemLote.listStockLote"></app-modal-consulta-lote>
</p-dialog>

<p-dialog *ngIf="isVisualizarAutenticar" header="Ingresar Credenciales" [(visible)]="isVisualizarAutenticar" [modal]="true" [closable]="false" [autoZIndex] [draggable]="false" [resizable]="false">
    <app-modal-autenticacion [isAnular]="false" (eventoAceptar)="goAceptarGrabar($event)" (eventoCancelar)="goCancelarGrabar()"></app-modal-autenticacion>
</p-dialog>

<p-dialog header="Grabar" [(visible)]="isDisplaySave" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

    Guardando Informacion...!!!
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        </div>
    </div>

</p-dialog>