.row-form {
  display: grid;
  gap: 10px;
  label {
    font-weight: bold;
  }
  .content-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, max-content));
  }
  .content-observacion {
    display: grid;
  }
}
